# Dependency directories (Wajib ignore, file ini berat banget)
node_modules/
*/node_modules/

# Environment variables (Wajib ignore, ini RAHASIA)
.env
*/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
*/dist/
*/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk files
.DS_Store
Thumbs.db